footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px 0;
    background-color: #D9D9E2;
}
footer ul{
    display: flex;
}
footer div p{
    font-size: 1em;
}
.footer{
    justify-content: flex-end;
}
.fa-brands{
    padding: 15px 17px;
    border-radius: 44px;
    background-color: #FFFFFF;
    color: #D9D9E2;
    font-size: 30px;
}
.social{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex: 1 0 40%;
    padding: 0 25px;
}
.copy{
    display: flex;
    justify-content: flex-start;
    flex-basis: 52%;
    padding: 0 5px;
}