main{
    max-width: 900px;
    margin: 150px 50px 50px 50px;
}
div.content {
    background-color: #C9C9D6;
}
p {
    line-height: 1.5em;
    font-size: 1em;
}
.login-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #FFF;
    border-radius: 25px;
}
.login-form h2{
    margin-bottom: 20px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fields {
    display: flex;
    flex-direction: column;
}
.row{
    margin-bottom: 25px;
}
label{
    margin-bottom: 10px;
}
input[type="text"],input[type="password"]{
    justify-self: center;
    height: 35px;
    width: 100%;
    min-width: 250px;
}
input[type="submit"]{
    align-self: center;
    padding: 10px 20px;
    margin: 15px 0;
    width: 50%;
    background-color: #AACE9B;
    border: #AACE9B solid 1px;
    border-radius: 5px;
    color: #373867;
    font-weight: 400;
    text-transform: uppercase;
}
input[type="submit"]:hover{
    background-color: #FFFFFF;
    border: #373867 solid 1px;
}
.recovery{
    margin-top: 30px;
    text-align: center;
}
.recovery a{
    padding: 10px 15px;
    color: #373867;
    text-decoration: none;
    background-color: #FAF9F9;
}
.message{
    margin: 10px 0;
}
.error-email, .error-pass, .required{
    font-size: 0.75em;
    display: none;
    color:red;
}
.error{
    border: red solid 1px;
}
.valid{
    border: green solid 1px;
}
.success{
    margin-bottom: 10px;
    color: green;
}
.invalid{
    margin-bottom: 10px;
    color: red;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}