main{
    display: flex;
    align-items: center;
    margin: 150px 50px 50px 50px;
}
div.content {
    background-color: #C9C9D6;
}
.login-form {
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    margin-bottom: 50px;
    width: 100%;
    background-color: #FFF;
    border-radius: 25px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: space-between;
}
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
    margin-bottom: 15px;
}
.col1{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 15px;
}
input[type="text"], input{
    justify-self: center;
    height: 35px;
    width: 100%;
}
input[type="submit"]{
    align-self: center;
    padding: 10px 20px;
    margin: 15px 0;
    width: 50%;
    background-color: #AACE9B;
    border: #AACE9B solid 1px;
    border-radius: 5px;
    color: #373867;
    font-weight: 400;
    text-transform: uppercase;
}
input[type="submit"]:hover{
    background-color: #FFFFFF;
    border: #373867 solid 1px;
}
.error{
    border: red solid 1px;
}
.valid{
    border: green solid 1px;
}
.error-input, .required {
    display: none;
    color:red;
    font-size: 0.75em;
}
.message{
    margin: 10px 0;
    font-size: 0.7em;
}
.success{
    margin-bottom: 10px;
    color: green;
}
.invalid{
    margin-bottom: 10px;
    color: red;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media  screen and (min-width: 780px) {
    main{
        min-width: 600px;
    }

}
@media  screen and (max-width: 480px) {
    .col{
        flex-basis: 100%;
    }
}