<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login in Trackgenix App">
        <meta name="keywords" content="Time tracking, time, software, login, login users">
        <meta name="author" content="Carla Daiana Vigil">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/aside.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c0e48a5383.js" crossorigin="anonymous"></script>
        <title>Employee Signup</title>
    </head>
    <body>
        <div class="container">
            <header>
                <span class="menu-icon">
                    <i class="fa-solid fa-bars"></i>
                </span>
                <span>
                    <a href="index.html">
                        <span id="radium">Radium</span>
                        <span id="rocket">Rocket</span>
                    </a>
                </span>
            </header>
            <div class="main-flex">
                <aside>
                    <div class="navbar">
                        <div class="menu">
                            <span class="navbar-title">Menu</span>
                            <nav>
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a class="active" href="sign-up.html">Sign Up</a>
                                    </li>
                                    <li>
                                        <a href="login.html">Login</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="contact-us">
                            <span class="navbar-title">Contact us</span>
                            <p class="secondary-text">
                                If you need more information about trackgenix we are totally at your service to provide it.
                                Contact Us!
                            </p>
                            <address>
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-envelope"></i>
                                        <a href="mailto:contact@tackgenix.com">contact@tackgenix.com</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-phone"></i>
                                        <a href="tel:+1 555-000-555">+1 555-000-555</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-house"></i>
                                        <a href="#">1234 Somewhere Road #8254 Nashville</a>
                                    </li>
                                </ul>
                            </address>
                        </div>
                    </div>
                </aside>
                <div class="content">
                    <main>
                        <div class="login-form">
                            <h2>Sign Up</h2>
                            <form id="form">
                                <div class="fields">
                                    <div class="row">
                                        <div class="col">
                                            <label for="name">
                                                Name
                                            </label>
                                            <input type="text" id="name" name="name" placeholder="Name">
                                            <span class="error-input" id="error-name">The name must contain only letters and
                                                must be 3 characters or more.</span>
                                            <span class="required" id="required-name">This field is required</span>
                                        </div>
                                        <div class="col">
                                            <label for="lastname">
                                                Lastname
                                            </label>
                                            <input type="text" id="lastname" name="lastname" placeholder="Lastname">
                                            <span class="error-input" id="error-lastname">The lastname must contain only
                                                letters and must be 3 characters or more.</span>
                                            <span class="required" id="required-lastname">This field is required</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="name">
                                                DNI
                                            </label>
                                            <input type="text" id="dni" name="dni" placeholder="DNI">
                                            <span class="error-input" id="error-dni">The DNI must contain numbers and must be 7 characters or more.</span>
                                            <span class="required" id="required-dni">This field is required</span>
                                        </div>
                                        <div class="col">
                                            <label for="birth">
                                                Date of birth
                                            </label>
                                            <input type="date" id="birth" name="birth" placeholder="dd/mm/aaaa">
                                            <span class="error-input" id="error-birth">The date must be before today and over 18 years</span>
                                            <span class="required" id="required-birth">This field is required</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="phone">
                                                Phone Number
                                            </label>
                                            <input type="text" id="phone" name="phone" placeholder="5434100000">
                                            <span class="error-input" id="error-phone">The phone number must contain numbers and must be 10 characters.</span>
                                            <span class="required" id="required-phone">This field is required</span>
                                        </div>
                                        <div class="col">
                                            <label for="address">
                                                Address
                                            </label>
                                            <input type="text" id="address" name="address" placeholder="Street name 123">
                                            <span class="error-input" id="error-address">The address must have letters and numbers with a space between</span>
                                            <span class="required" id="required-address">This field is required</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="location">
                                                Location
                                            </label>
                                            <input type="text" id="location" name="location" placeholder="Location">
                                            <span class="error-input" id="error-location">The location must be only letters and numbers</span>
                                            <span class="required" id="required-location">This field is required</span>
                                        </div>
                                        <div class="col">
                                            <label for="zip-code">
                                                Zip code
                                            </label>
                                            <input type="text" id="zip-code" name="zip-code" placeholder="2000">
                                            <span class="error-input" id="error-zip">Zip code must be only a number with a length of 4 or 5 characters</span>
                                            <span class="required" id="required-zip">This field is required</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col1">
                                            <label for="email">
                                                Email
                                            </label>
                                            <input type="text" id="email" name="email" placeholder="Email">
                                            <span class="error-input" id="error-email">The email is not valid</span>
                                            <span class="required" id="required-email">This field is required</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="password">
                                                Password
                                            </label>
                                            <input type="password" id="password" name="password" placeholder="Password">
                                            <span class="error-input" id="error-pass">The password is not valid</span>
                                            <span class="required" id="required-pass">This field is required</span>
                                        </div>
                                        <div class="col">
                                            <label for="repeat-pass">
                                                Repeat password
                                            </label>
                                            <input type="password" id="repeat-pass" name="repeat-pass"
                                                placeholder="Repeat password">
                                            <span class="required" id="required-rpass">This field is required</span>
                                            <span class="required" id="not-match">The password must match</span>
                                        </div>
                                    </div>
                                </div>
                                <span id="message"></span>
                                <div class="row">
                                    <div class="col1">
                                        <input type="button" name="button" id="button" value="Signup">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </main>
                    <footer>
                        <ul class="social">
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="copy">
                            <p>Tackgenix®</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <script src="../javascript/sign-up.js"></script>
    </body>

</html>