main{
    max-width: 900px;
    margin: 150px 50px 50px 50px;
}
div.content {
    background-color: #C9C9D6;
}
p {
    line-height: 1.5em;
    font-size: 1em;
}
.login-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #FFF;
    border-radius: 25px;
}
.login-form h2{
    margin-bottom: 20px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fields {
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 10px;
}
input[type="text"],input[type="password"]{
    justify-self: center;
    height: 35px;
    width: 100%;
    min-width: 250px;
    margin-bottom: 25px;
}
input[type="submit"]{
    align-self: center;
    padding: 10px 20px;
    margin: 15px 0;
    width: 50%;
    background-color: #AACE9B;
    border: #AACE9B solid 1px;
    border-radius: 5px;
    color: #373867;
    font-weight: 400;
    text-transform: uppercase;
}
input[type="submit"]:hover{
    background-color: #FFFFFF;
    border: #373867 solid 1px;
}
.recovery{
    margin-top: 30px;
    text-align: center;
}
.recovery a{
    padding: 10px 15px;
    color: #373867;
    text-decoration: none;
    background-color: #FAF9F9;
}
.message{
    padding: 10px;
    margin: 10px 0;
    border: #6a6bc0 solid 2px;
    border-radius: 5px;
}
.error-email, .error-pass, .required{
    display: none;
    color:red;
}
.error{
    border: red solid 1px;
}
.valid{
    border: green solid 1px;
}
.success{
    margin-bottom: 10px;
    color: green;
}
.invalid{
    margin-bottom: 10px;
    color: red;
}