main{
    max-width: 900px;
    margin: auto;
    margin-top: 150px;
}
section{
    margin: 50px 0;
    border-bottom: #37386766 solid 1px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}
.card{
    display: flex;
    align-items: flex-start;
    padding: 0 25px 30px 0;
    box-sizing: border-box;
    width: 50%;
    flex: 0 1 auto;

}
.card i{
    padding: 10px 25px 0 0;
    font-size: 3em;
}
